# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: Hosted App URL
APP_URL="MY_APP_URL"

# KMA_WEATHER_API_KEY: Korea Meteorological Administration Weather Open API Service Key
KMA_WEATHER_API_KEY="5tUntX5vxbi6zkVGcDo6Enb2TgvideArVfL%2FpL%2Be3qShBlUM54tEhJHNjjDRt61dP3WGFrK49dfhJJaXfHpVIQ%3D%3D"

# GOOGLE_CLIENT_ID and GOOGLE_CLIENT_SECRET for Google Calendar OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
